body {
}


.TextBox {
    background-color: darkcyan;
    border: none;
    border-bottom: 1px solid darkgrey;
    outline: none;
    -webkit-transition: all 500ms ease;
    color:white;
    
}
td .TextBox:focus{
    border-bottom: 1px solid cyan;

}

td {
    margin-bottom: 3px;
    text-align: left;
}

tr {
    margin: 5px;
}

header {
    width: 100%;
    overflow: hidden;
    background: #252932;
    margin-bottom: 20px;
}

.wrapper {
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

header .logo {
    color: #f2f2f2;
    font-family: sans-serif;
    font-size: 50px;
    line-height: 150px;
    float: left;
}

header nav {
    float: right;
    font-family: sans-serif;
    line-height: 150px;
}

header nav a {
display: inline-block;
color: #fff;
text-decoration: none;
padding: 10px 20px;
line-height: normal;
font-size: 20px;
font-weight: bold;
-webkit-transition: all 500ms ease;
-o-transition: all 500ms ease;
transition: all 500ms ease;
}

header nav a:hover {
    background: darkcyan;
}

.boton-personalizado {
    text-decoration: none;
    font-weight: 600;
    font-size: 15px;
    color: #ffffff;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: darkcyan;
    border: none;
}

.estiloListView {
    background-color:white;
    border-width: 3px;
    border-color: darkcyan;
    width: 300px;
    text-align:center;
}

.cajaDeTexto {
    background-color: white;
    border-width: 2px;
    outline-width: 1px;
    color: black;
    width: 350px;
    font-size: 18px;
}

.nombreArticulo {
    text-decoration: none;
    font-weight: 600;
    font-size: 15px;
    color: #ffffff;
    padding-top: 15px;
    padding-bottom: 5px;
    padding-left: 35px;
    padding-right: 35px;
    background-color: darkcyan;
    border: none;
    width: 250px;
    margin-top: 5px;
    
}

